# Ignorer tous les fichiers dans models/
models/*
models/**/*

# Garder les fichiers des modèles classiques
!models/classical/
!models/classical/regression_logistique.pkl

# Environnements virtuels et fichiers Python temporaires
venv*/
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints/

# Fichiers système
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers et fichiers de caches divers
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.idea/
.vscode/
*.swp
*~
.old/
*.save
